* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./largeScreen.jpg");
  background-size: cover;
}
.container {
  position: relative;
  width: 60vw;
  height: 60%;
}
