* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./largeScreen.jpg");
  background-size: cover;
}
.container {
  position: relative;
  width: 60vw;
  height: 60%;
}

.inner-container {
  background-color: rgba(71, 156, 189, 0.8);
  box-shadow: 0.5vw 0.5vw 0.5vw rgb(58, 142, 199);
  border-radius: 3vw;
  padding: 8vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.title {
  font-size: 3vw;
  font-family: "Irish Grover", cursive;
  color: white;
  margin-bottom: 2vw;
}
.container .box {
  width: 100%;
  text-align: center;
  display: flex;
}

.box div {
  width: 100%;
  text-align: center;
}

select {
  width: 95%;
  color: black;
  font-size: 1.2vw;
  font-family: "Bree Serif", serif;
  cursor: pointer;
  background: #c1c8e4;
  padding: 1vw;
  border-radius: 0.5vw;
  border: none;
}

input {
  width: 95%;
  font-family: "Quattrocento", serif;
  font-size: 1.2vw;
  margin: 1.2vw 0vw 1.2vw 0vw;
  border: none;
  border-bottom: 0.2vw solid transparent;
  background: #edeef7;
  outline: none;
  padding: 1vw;
  transition: 0.5s ease-in;
}

input:focus {
  border-bottom: 0.2vw solid rgb(64, 25, 204);
}

.btn {
  width: 98%;
  padding: 1vw;
  background-color: rgb(255, 255, 255, 0.5);
  margin-top: 0.2vw;
  border: 0.1vw solid rgb(58, 142, 199);
  border-radius: 3vw;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: black;
  font-size: 1.2vw;
}

.btn:hover {
  margin-top: 0.1vw;
  box-shadow: 0 0 1vw 0 rgb(58, 142, 199) inset, 0 0 2vw 0.2vw rgb(58, 142, 199);
  border: 0.2vw solid rgb(58, 142, 199);
}
